body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  background: #0c0d19;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  background: #181a26;
}
::-webkit-scrollbar-thumb {
  background: #22243c;
  border-radius: 8px;
}